body {
	background-color: #b7d1c4;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}

img{
	height: 170px;
	width: 170px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

.peanutbutter {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 36;
	color: brown;

}

.jelly{
	font-size: 28;
	color: purple;

}

.stone{
	font-size: 24;
	font-style: italic;
}

.parm{
	font-size: 18;
}

.chx{
	font-size: 16;
}
